<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    <h1>Welcome {{sub}}!</h1>
    <p>friends: {{friends}}</p>
    <a href="{% url 'index' %}">index</a>
    <p>friend list</p>
    {% for friend in friends %}
    <li>
      {{ friend.name }} (Real Name: {{ friend.real_name }}) - Score: {{friend.score}}/{{ friend.goal_score }}
      <form action="{% url 'del_friend' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_name" value="{{ friend.name }}" />
        <button type="submit">unfriend with</button>
      </form>
    </li>
    {% endfor %}
    
    <form action="{% url 'add_points' %}" method="post">
      {% csrf_token %}
      <button type="submit">add points</button>
    </form>
    <form action="{% url 'clear_points' %}" method="post">
      {% csrf_token %}
      <button type="submit">clear_points</button>
    </form>
    <p>points: {{score}}</p>
    <p>goal:{{goal_score}}</p>
    <form action="{% url 'set_goal' %}" method="post">
      {% csrf_token %}
      <label for="goal">goal:</label>
      <input type="number" id="goal" name="goal" required />
      <button type="submit">set goal</button>
    </form>
    {% for user in users %}
    <li>
      {{ user.name }} (Real Name: {{ user.real_name }}) - Score: {{user.score}}/{{ user.goal_score }}
      <form action="{% url 'add_friend' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_name" value="{{ user.name }}" />
        <button type="submit">friend with</button>
      </form>
    </li>
    {% endfor %}
  </body>
</html>
