<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Welcome</h1>
    <h1>{{sub}}</h1>

    <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl"><mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500"><a href="{% url 'index' %}">index</a></mark></h1>
    <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl"><mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500"><a href="{% url 'about' %}">about</a></mark></h1>
    <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl"><mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500"><a href="{% url 'setting' %}">setting</a></mark></h1>
    
    
    <p class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl">My friends</p>
    {% for friend in friends %}
    <li>
      {{ friend.name }} (Real Name: {{ friend.real_name }}) - Score: {{friend.score}}/{{ friend.goal_score }}
      
    </li>
    {% endfor %}

    <div class="flex justify-between mb-1">
        <span class="text-base font-medium text-blue-700 dark:text-white">Progress</span>
        <span class="text-sm font-medium text-blue-700 dark:text-white">{{progress}}%</span>
      </div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        <div class="bg-blue-600 h-2.5 rounded-full" style="width: {{ progress }}%"></div>
      </div>
    
    <form action="{% url 'add_points' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">add points</button>
    </form>
    <form action="{% url 'clear_points' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">clear_points</button>
    </form>
    <p>points: {{score}}</p>
    <p>goal:{{goal_score}}</p>
    <form action="{% url 'set_goal' %}" method="post">
      {% csrf_token %}
      <label for="goal">goal:</label>
      <input type="number" id="goal" name="goal" required />
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">set goal</button>
    </form>
    
  </body>
  
</html>
