<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1>Welcome {{sub}}!</h1>
    <a href="{% url 'get_user' %}">dashboard</a>
    <h1>Friend List: </h1>
    {% for friend in friends %}
    <li>
      {{ friend.name }} (Real Name: {{ friend.real_name }}) - Score: {{friend.score}}/{{ friend.goal_score }}
      <form action="{% url 'del_friend' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_name" value="{{ friend.name }}" />
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">unfriend with</button>
      </form>
    </li>
    {% endfor %}
    <h1>Find Users: </h1>
    {% for user in users %}
    <li>
      {{ user.name }} (Real Name: {{ user.real_name }}) - Score: {{user.score}}/{{ user.goal_score }}
      <form action="{% url 'add_friend' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_name" value="{{ user.name }}" />
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">friend with</button>
      </form>
    </li>
    {% endfor %}
  </body>
</html>
